<html>
    <head>
        <title>Todo App</title>
    </head>
    <style>
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 200px;
        }
        li {
            clear: both;
        }
        li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            cursor: pointer;
            font-size: 20px;
            float: right;
        }
    </style>
    <body>
        <form id="form">
            <input type="text" id='description' name="description"/>
            <input type="submit" value="Create"/>
        </form>
        <div id="error" class="hidden">Something went wrong!</div>
        <ul id='todos'>
            {% for d in data %}
            <li class="todo-list-item">
                <input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %}/>
                 {{ d.description }}
                 <button class="delete-button" data-id="{{ d.id }}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
        <script>
            const deleteButtons = document.querySelectorAll('.delete-button');
            for (let i = 0; i < deleteButtons.length; i++) {
                deleteButtons[i].onclick = function(e) {
                    console.log('event', e);
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/delete', {
                        method: 'DELETE'
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function(error) {
                        console.log('An error occurred', error);
                        document.getElementById('error').className = '';
                    })
                }
            }
            
            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].onchange = function(e) {
                    console.log('event', e);
                    const newCompleted = e.target.checked;
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function(error) {
                        console.log('An error occurred', error);
                        document.getElementById('error').className = '';
                    })
                }
            }
            document.getElementById('form').onsubmit = function(event) {
                event.preventDefault(); // prevent page refresh
                fetch('/todos/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': document.getElementById('description').value,
                        'id': document.getElementById('id').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(jsonResponse) {
                    console.log(jsonResponse);
                    const liItem = document.createElement('LI');
                    const liAttr = document.createAttribute('class');
                    liAttr.value = 'todo-list-item';
                    liItem.setAttributeNode(liAttr);  

                    const checkBoxItem = document.createElement('INPUT');
                    const checkBoxAttr = document.createAttribute('type');
                    checkBoxAttr.value = "checkbox";
                    checkBoxItem.setAttributeNode(checkBoxAttr);
                    
                    liItem.innerHTML = jsonResponse['description'];
                    liItem.appendChild(checkBoxItem);
                    document.getElementById('todos').appendChild(liItem);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function(error) {
                    console.log('An error occurred', error);
                    document.getElementById('error').className = '';
                })
            }    
        </script>
    </body>
</html>
<!-- 
<input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %}/>
{{ d.description }}
<button class="delete-button" data-id="{{ d.id }}">&cross;</button> -->
